.container{
    max-width: 1600px;
    display: flex;
    justify-content: center;
}
/* tablet */
@media screen and (max-width:810px) {
    .container{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* phone */

@media screen and (max-width:390px){
    .container{
        max-width: 320px;
        display: flex;
        justify-content: center;
    }
}