.h1{
    font-size: 80px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
@media (max-width: 810px) {
    .h1 {
        font-size: 60px;
    }
}
@media (max-width: 390px) {
    .h1 {
        font-size: 40px;
    }
}